<div class="container">
  <div class="top">
    <img class="circle circle-top-left" src="../../../assets/Circle.png" alt="circle">
    <div class="box box-main">
      <h1>CREATE PERFERCT RESUME</h1>
      <img src="../../../assets/wave.png" alt="wave">
      <nav class="menu">
        <a href="#why-our-creator">Why our creator</a>
        <a href="#what-clients-stays">What clients says</a>
        <a href="#templates">Templates</a>
        <a routerLink="login" *ngIf="!is_logged">Login</a>
        <a routerLink="profile" *ngIf="is_logged">Profile</a>
        <a routerLink="" *ngIf="is_logged" (click)="logout()">Logout</a>
      </nav>
    </div>

    <div class="relative-parent">
      <div class="hiding-parent">
        <img class="circle circle-bottom-right" src="../../../assets/Circle.png" alt="circle">
      </div>
    </div>
  </div>

  <div id="why-our-creator" class="why-us">
    <div class="why-us__argument">
      <div class="box why-us__box">
        <h2>Why us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat ultricies pharetra. Donec
          fermentum eget metus vitae finibus. Nulla imperdiet, tellus ac finibus placerat, neque dolor facilisis nisi,
          eu euismod metus lorem id neque. Aliquam non sapien at lacus euismod iaculis id consequat ipsum. Cras dapibus
          nisi vitae pretium iaculis. Cras dapibus nisi vitae pretium iaculis Donec fermentum eget metus vitae finibus.
          Nulla imperdiet, tellus ac finibus placerat.</p>
      </div>
    </div>

    <div class="why-us__argument">
      <img src="../../../assets/cup.svg" alt="cup">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat ultricies pharetra. Donec
        fermentum eget metus vitae finibus. Nulla imperdiet, tellus ac finibus placerat, neque dolor facilisis nisi, eu
        euismod metus lorem id neque. Aliquam non sapien at lacus euismod iaculis id consequat ipsum. Cras dapibus nisi
        vitae pretium iaculis.</p>
    </div>

    <div class="why-us__argument">
      <img src="../../../assets/order.svg" alt="order">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat ultricies pharetra. Donec
        fermentum eget metus vitae finibus. Nulla imperdiet, tellus ac finibus placerat, neque dolor facilisis nisi, eu
        euismod metus lorem id neque. Aliquam non sapien at lacus euismod iaculis id consequat ipsum. Cras dapibus nisi
        vitae pretium iaculis.</p>
    </div>

    <div class="why-us__argument">
      <img src="../../../assets/success.svg" alt="success">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat ultricies pharetra. Donec
        fermentum eget metus vitae finibus. Nulla imperdiet, tellus ac finibus placerat, neque dolor facilisis nisi, eu
        euismod metus lorem id neque. Aliquam non sapien at lacus euismod iaculis id consequat ipsum. Cras dapibus nisi
        vitae pretium iaculis.</p>
    </div>
  </div>

  <section id="what-clients-stays">
    <h2>What clients says?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat ultricies pharetra. Donec fermentum
      eget metus vitae finibus. Nulla imperdiet, tellus ac finibus placerat, neque dolor facilisis nisi, eu euismod
      metus lorem id neque. Aliquam non sapien at lacus euismod iaculis id consequat ipsum. Cras dapibus nisi vitae
      pretium iaculis.</p>
    <div class="what-clients-says__opinions">
      <div class="box" style='background-image: url("../../assets/{{opinions[button_value].image}}")'>

      </div>

      <article>
        <h3>{{opinions[button_value].name}}</h3>
        <p>
          {{opinions[button_value].text}}
        </p>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="button_value">
          <mat-radio-button value="{{i}}" *ngFor="let opinion of opinions; index as i"></mat-radio-button>
        </mat-radio-group>
      </article>
    </div>
  </section>

  <section id="templates">
    <h2>TEMPLATES</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat ultricies pharetra. Donec fermentum
      eget metus vitae finibus. Nulla imperdiet, tellus ac finibus placerat, neque dolor facilisis nisi, eu euismod
      metus lorem id neque. Aliquam non sapien at lacus euismod iaculis id consequat ipsum. Cras dapibus nisi vitae
      pretium iaculis.</p>
    <a href="/createCV">

    </a>
  </section>

  <footer>
    <div class="socials">
      <a href="#"><img src="../../../assets/facebook.svg" alt="facebook"></a>
      <a href="#"><img src="../../../assets/twitter.svg" alt="twitter"></a>
      <a href="#"><img src="../../../assets/linkedin.svg" alt="linkedin"></a>
    </div>
    <p>&copy; Dawid Mazurkiewicz 2021</p>
  </footer>
</div>
