<div class="container">
  <h1>CV-Builder</h1>
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Login</mat-label>
        <input matInput name="login">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput name="password">
      </mat-form-field>
      <button mat-flat-button color="primary">Login</button>
      <a href="#">Forgot your password?</a>
    </form>
  </mat-card>
  <mat-card class="signup">
    <p>Don't have an account? <a href="#">Join CV-builder now!</a> </p>
  </mat-card>
</div>
