<main>
  <article>
    <nav>
      <a href="#">Main page</a>
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button (click)="saveDetails()">5</button>
    </nav>
    <form (change)="changeValues()">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput name="name" [value]="details.name" [(ngModel)]="details.name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Second name</mat-label>
        <input matInput name="surname" [value]="details.surname" [(ngModel)]="details.surname">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hard Skills</mat-label>
        <input matInput name="hardSkills" [value]="details.hard_skills" [(ngModel)]="details.hard_skills">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Soft Skills</mat-label>
        <input matInput name="softSkills" [value]="details.soft_skills" [(ngModel)]="details.soft_skills">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput name="email" type="email" [value]="details.email" [(ngModel)]="details.email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput name="phone" type="tel" [value]="details.phone_number" [(ngModel)]="details.phone_number">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput name="address" type="text" [value]="details.address" [(ngModel)]="details.address">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Languages</mat-label>
        <input matInput name="phone" type="text" [value]="details.language" [(ngModel)]="details.language">
      </mat-form-field>
      <mat-form-field>
        <mat-label>About me</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [value]="details.about"
                  [(ngModel)]="details.about"
        ></textarea>
      </mat-form-field>
    </form>
  </article>
  <section class="section-cv">
    <div class="template1">
      <div class="template1-left">
        <div class="template1__container">
          <div class="template1-about">
            <h3>About</h3>
            {{details.about}}
            <h3>Contact</h3>
            <div>
              <h4>Address</h4>
              <span>{{details.address}}</span>
            </div>
            <div>
              <h4>Email</h4>
              <span>{{details.email}}</span>
            </div>
            <div>
              <h4>Phone number</h4>
              <span>{{details.phone_number}}</span>
            </div>

            <div *ngIf="details.hard_skills">
              <h3>Hard skills</h3>
              <span class="hard_skills" *ngFor="let hardSkill of details.hard_skills.split(', ')">
              {{hardSkill}}
              </span>
            </div>

            <div *ngIf="details.soft_skills">
              <h3>Soft skills</h3>
              <span class="soft_skills" *ngFor="let softSkill of details.soft_skills.split(', ')">
              {{softSkill}}
              </span>
            </div>

            <div *ngIf="details.language">
              <h3>Hard skills</h3>
              <span class="hard_skills" *ngFor="let language of details.language.split(', ')">
              {{language}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="template1-right">
        <div class="template1__container">
          <h2 class="name">{{details.name}} {{details.surname}}</h2>
        </div>
      </div>
    </div>
  </section>
</main>
